.cart-dropdown {
  width: 240px;
  position: fixed;
  top: 90px;
  height: fit-content;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  right: 0;
  z-index: 5;
}
.cart-items {
  min-height: 240px;
  display: flex;
  flex-direction: column;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}
button {
  margin-top: auto;
}
